 <!-- Topbar Start -->
 <div class="container-fluid bg-light px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="small text-secondary" href="{% url 'blog:home' %}">Home</a></li>
                <!-- <li class="breadcrumb-item"><a class="small text-secondary" href="#">Career</a></li> -->
                <li class="breadcrumb-item"><a class="small text-secondary" href="{% url 'blog:terms' %}">Terms</a></li>
                <li class="breadcrumb-item"><a class="small text-secondary" href="{% url 'blog:privacy' %}">Privacy</a></li>
            </ol>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small>Follow us:</small>
            {% for team in managemnt %}
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn-square text-primary border-end rounded-0" href="{{team.Facebook}}"><i class="fab fa-facebook-f"></i></a>
                <a class="btn-square text-primary border-end rounded-0" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn-square text-primary border-end rounded-0" href="{{team.Whatsapp}}"><i class="fab fa-whatsapp"></i></a>
                <a class="btn-square text-primary pe-0" href="#"><i class="fab fa-instagram"></i></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Topbar End -->

  <!-- Brand & Contact Start -->
  <div class="container-fluid py-4 px-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="row align-items-center top-bar">
        <div class="col-lg-4 col-md-12 text-center text-lg-start">
            <a href="" class="navbar-brand m-0 p-0">
                <h1 class="fw-bold text-primary m-0"><i class="fa fa-laptop-code me-3"></i>SULDAAN GRAPHICS</h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
        </div>
        <div class="col-lg-8 col-md-7 d-none d-lg-block">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                            <i class="far fa-clock text-primary"></i>
                        </div>
                        <div class="ps-3">
                            <p class="mb-2">Opening Hour</p>
                            <h6 class="mb-0">Always open</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                            <i class="fa fa-phone text-primary"></i>
                        </div>
                        <div class="ps-3">
                            <p class="mb-2">Call Us</p>
                            <h6 class="mb-0">+252 610 481699</h6>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="flex-shrink-0 btn-lg-square border rounded-circle">
                            <i class="far fa-envelope text-primary"></i>
                        </div>
                        <div class="ps-3">
                            <p class="mb-2">Email Us</p>
                            <h6 class="mb-0">Suldaanwy@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand & Contact End -->


   <!-- Navbar Start -->
   <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    <a href="#" class="navbar-brand ms-3 d-lg-none">MENU</a>
    <button type="button" class="navbar-toggler me-3" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav me-auto p-3 p-lg-0">
            <a href="{% url 'blog:home' %}" class="nav-item nav-link">Home</a> 
            {% if user.is_authenticated %}           
            <a href="#" class="nav-item nav-link get_link">Services</a>
            <a href="#" class="nav-item nav-link">Projects</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">forms</a>
                <div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
                    <a href="{% url 'blog:category-create' %}" class="dropdown-item">Add category</a>
                    <a href="{% url 'blog:posts-create' %}" class="dropdown-item">Add posts</a>                  
                    <a href="{% url 'blog:managemnet-create' %}" class="dropdown-item">Admin</a>
                    <!-- <a href="#" class="dropdown-item"></a> -->
                </div>
            </div>


            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Views</a>
                <div class="dropdown-menu border-0 rounded-0 rounded-bottom m-0">
                    <a href="{% url 'blog:category' %}" class="dropdown-item">Category</a>
                    <a href="{% url 'blog:posts' %}" class="dropdown-item">Posts</a>
                    <a href="{% url 'blog:visitors' %}" class="dropdown-item">Visitors</a>
                    <a href="{% url 'blog:admin_page' %}" class="dropdown-item">Admin</a>
                    <!-- <a href="#" class="dropdown-item"></a> -->
                </div>
            </div>
            
            
            
            <a href="#" class="nav-item nav-link get_link">About Us</a>
            <a href="#" class="nav-item nav-link">Contact Us</a>
            {% endif %}
            <a href="{% url 'blog:visitors-create' %}" class="nav-item nav-link" id="comment">Comment</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
            {% else %}
            <a href="{% url 'login' %}" class="nav-item nav-link d-lg-block">Login</a>
        {% endif %}
        </div>
        {% if user.is_authenticated %}
        <a href="#" class="btn btn-sm btn-light rounded-pill py-2 px-4 d-none d-lg-block">Welcome :{{user.username}}</a>
       
        {% else %}
       
        {% endif %}
    </div>
</nav>
<!-- Navbar End -->